<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @test_scaffold.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @test_scaffold.email %>
</p>

<p>
  <strong>Passoword:</strong>
  <%= @test_scaffold.passoword %>
</p>

<%= link_to 'Edit', edit_test_scaffold_path(@test_scaffold) %> |
<%= link_to 'Back', test_scaffolds_path %>
